.jumbotron{
    background-color: rgb(53, 0, 0);
}

p{
    text-align: justify;
}

img { 
    margin: 0 auto; 
    width: auto;
    height: auto;

}

hr{
    border-color: black;
}

h1{
    text-shadow: 
    6px 6px 2px rgb(0, 0, 0);
}

.carousel.slide{
    width: 50%;
}

.carousel-inner{
    width: 100%;
 height: 100%;
}

.carousel-inner img {
    width: 100%;
    max-height: 400px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
